@import "/initial-variables.scss";

html, body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    color: #dfdfdf;
    height: 100%;
    background-color: black;
 }

 .navbar--icon{
     width: 5%
 }